<center>
    <br/>
    <br/>
    <h4>Hello!</h4>
    <h1><b>Welcome to PAL, your Parking Assistant!</b></h1>
    @*<h7>Please Log In to your account</h7>*@
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h6><b>What is PAL?</b></h6>
    <h8>PAL (Parking Assistance Lobby) helps you navigate through the various parking spaces in Benilde.</h8><br />
    <h8>It allows you to check available parking slots and reserve them for a specific time duration</h8><br />
    <h8>to provide ease and a less hassle system for the Benildean community and guests.</h8>
</center>