<br />

<center>
    <h4>Welcome!</h4>
    <h1><b>Where are you heading to?</b></h1>

    <br />
    <br />

<a asp-controller="Campus" asp-action="DACIndex" class="btn btn-success">
   Design and Arts Campus Parking
</a>
<br/> <br/>
<a asp-controller="Campus" asp-action="DomingaIndex" class="btn btn-success">
    Dominga Parking
</a>
<br/> <br/>
<a asp-controller="Campus" asp-action="AKICIndex" class="btn btn-success">
    Angelo King International Center (AKIC) Campus Parking
</a>
<br/> <br/>
<a asp-controller="Campus" asp-action="PeterIndex" class="btn btn-success">
    Peter D. Garrucho Innovations Institute Parking
    </a>
</center>